
  .nav-bar {
    background-color: #EDF2F7;
    margin-right: 20px;
    /* width: 30%; */
}
.label-nav {
  margin-left: 10px;
  text-align: left;
  height: 100%;
}
.container-navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.main-content {
  flex: 1; 
}